@{
    ViewBag.Title = "Veterinerapp";
}
<body class="wallpaper">


    @* BILGILER *@
    <div class="bilgiler">
        <div class="container">
            <div class="cardd" data-tilt data-tilt-max="30" data-tilt-glare data-tilt-max-glare="0.55">
                <div class="shoe-container">
                    <img class="shoe"
                        src="https://cdn-icons-png.flaticon.com/512/616/616430.png">
                </div>
                <div class="category">
                    @* <div class="sub-head">Bilgi</div> *@
                    KEDİLER
                </div>
                <div class="description">
                    kulaklarında kulak kepçesine yön veren 20 kadar kas vardır ve bunlar koordineli çalışarak kulağın sesleri daha iyi algılamasını sağlar.
                </div>
            </div>



            <div class="cardd card2" data-tilt data-tilt-max="40" data-tilt-glare data-tilt-max-glare="0.55">
                <div class="shoe-container">
                        <img class="shoe" src="https://cdn-icons-png.flaticon.com/512/1076/1076826.png">
                    </div>
                    <div class="category">
                        <div class="sub-head"></div>
                        PET NABIZ
                    </div>
                    <div class="description">
                        Web sitemiz hizmetinize açılmıştır, yapanların ellerine sağlık.
                    </div>
                    @* <a href="/"><button class="read-more">Read More</button></a> *@
                </div>



                <div class="cardd card3" data-tilt data-tilt-max="30" data-tilt-glare data-tilt-max-glare="0.55">
                    <div class="shoe-container">
                            <img style="filter:hue-rotate(0deg);" class="shoe" src="https://cdn-icons-png.flaticon.com/512/2865/2865447.png">
                        </div>
                        <div class="category">
                            @* <div class="sub-head">Bilgi</div> *@
                            BİLGİ
                        </div>
                        <div class="description">
                            Maske, Mesafe ve Temizliğimize dikkat edelim.
                        </div>
                    </div>
                </div>
            @* BİLGİLER SON *@


            

            <div class="text-box">
                <h1>PET NABIZ</h1>
            </div>

        <!-- Facts Start -->
        <div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-map-marker-alt"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">@ViewBag.kurumSayisi</h3>
                                <p>Kurum Sayımız</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-user"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">@ViewBag.petSayisi</h3>
                                <p>Pet Sayımız</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-users"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">@ViewBag.veterinerSayisi</h3>
                                <p>Veteriner Sayımız</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="facts-item">
                            <i class="fa fa-check"></i>
                            <div class="facts-text">
                                <h3 data-toggle="counter-up">5000</h3>
                                <p>Yapılan Tedaviler</p>
                            </div>
                        </div>
        
        <div class="row">
            <div class="mapouter col-3"><div class="gmap_canvas"><iframe width="600" height="150" id="gmap_canvas" src="https://maps.google.com/maps?q=Infotech%20Academy%20Yaz%C4%B1l%C4%B1m%20Kursu%20(%C5%9Ei%C5%9Fli/Mecidiyek%C3%B6y%20%C5%9Eube),%20Fulya,%20Garaj%20soka%C4%9F%C4%B1%20No:3/5,%2034394%20%C5%9Ei%C5%9Fli/%C4%B0stanbul&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-to.org"></a><br><style>.mapouter{position:relative;text-align:right;height:150px;width:600px;}</style><a href="https://www.embedgooglemap.net"></a><style>.gmap_canvas {overflow:hidden;background:none!important;height:150px;width:600px;}</style></div></div>
<a class="col-3" target="_blank" style="left: 200px;" href="https://www.google.com/"><img class="sosyal" src="https://imgyukle.com/f/2021/12/10/kb3t9x.png"></a>
<a class="col-3" target="_blank" style="left: 350px;" href="https://www.youtube.com/"><img class="sosyal" src="https://imgyukle.com/f/2021/12/10/kb38T0.png"></a>
<a class="col-3" target="_blank" style="left: 500px;" href="https://www.google.com/"><img class="sosyal" src="https://imgyukle.com/f/2021/12/10/kb3bFy.png"></a>
    
</div>
                    </div>
                </div>
            </div>
        </div>
                <script>
            $(document).ready(funcition(){
                $('[data-toggle="counter-up"]').counterUp({
                    delay: 10,
                    time: 1200
                });
            });
        </script>
        <!-- Facts End -->

</body>
@section Styles
{
    
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/tasarim.css" />
}
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.4.1/vanilla-tilt.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"></script>
    <script src="~/lib/counterup/counterup.min.js"></script>
}
