@model Veterinerapp.Models.DB.PetSahip
<div class="container-fluid">
    <form action='@Url.Action("Cikis", "Kullanici")' method="post">
        @* <button type="submit" class='@(Model==null?"d-none":"")'>Çıkış Yap</button> *@
    </form>

</div>